<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.seoulive.board.free.persistence.FreeDAO">

    <select id="getList" resultType="org.zerock.seoulive.board.free.domain.FreeDTO">
        SELECT *
        FROM
            TBL_FREE
        ORDER BY
            SEQ desc
    </select>

    <insert id="freeInsert" parameterType="org.zerock.seoulive.board.free.domain.FreeDTO">
        INSERT("INSERT INTO TBL_FREE(category,title,content,writer)
        VALUES(#{category},#{title},#{content},#{writer})
    </insert>

<!--    <select id="read" resultType="kr.bit.entity.Board">-->
<!--        select * from tblBoard where idx=#{idx}-->
<!--    </select>-->

    <select id="read" resultType="org.zerock.seoulive.board.free.domain.FreeDTO">
        SELECT *
        FROM TBL_FREE
        WHERE seq=#{seq}
    </select>


</mapper>